<!--<div class="modal">-->
<div>
    <h1>S'INSCRIRE</h1>

    <form class="content" (ngSubmit)="f.form.valid && createUser()" #f="ngForm" novalidate>
        <div class="form-group">    
            <p class="requiredField">*required</p>

            <h3 class="requiredTitle">Nom</h3>
            <input class="form-control"
                type="text"
                name="lastName"
                placeholder="nom de famille"
                autocomplete="off"
                required
                [(ngModel)]="newUser.lastName"
                #lastName="ngModel">
            <div *ngIf="f.submitted && lastName.invalid" class="alert alert-danger">
                <div *ngIf="lastName.hasError('required')">Le champ Nom est obligatoire</div>
            </div>
            
            <h3 class="requiredTitle">Prénom</h3>
            <input class="form-control"
                type="text"
                name="firstName"
                placeholder="Prénom"
                autocomplete="off"
                required
                [(ngModel)]="newUser.firstName"
                #firstName="ngModel">
            <div *ngIf="f.submitted && firstName.invalid" class="alert alert-danger">
                <div *ngIf="firstName.hasError('required')">Le champ Prénom est obligatoire</div>
            </div>
            
            <h3 class="requiredTitle">E-Mail</h3>
            <input class="form-control"
                type="email"
                name="email"
                placeholder="nom@exemple.com"
                autocomplete="off"
                required email
                [(ngModel)]="newUser.email"
                #email="ngModel">
            <div *ngIf="f.submitted && email.invalid" class="alert alert-danger">
                <div *ngIf="email.hasError('required')">Le champ email est obligatoire</div>
                <div *ngIf="email.hasError('email')">La valeur saisie doit correspondre à un format d'email</div>
                
            </div>>

            <h3 class="requiredTitle">Mot de passe</h3>    
            <input class="form-control"
                type="password"
                name="password"
                placeholder="Au moins 5 caractères"
                autocomplete="off"
                required minlength="5"
                [(ngModel)]="newUser.password"
                #password="ngModel">
            <div *ngIf="f.submitted && password.invalid" class="alert alert-danger">
                <div *ngIf="password.hasError('required')">Le champ 'Mot de passe' est obligatoire</div>
                <div *ngIf="password.hasError('minlength')">Le mot de passe doit faire au minimum 5 caractères </div>
            </div>

            <h3 class="requiredTitle">Confirmer le mot de passe</h3>    
            <input class="form-control"
                type="password"
                name="confirmPassword"
                placeholder="Au moins 5 caractères"
                autocomplete="off"
                required
                [(ngModel)]="newUser.confirmPassword"
                #confirmPassword="ngModel">
            <div *ngIf="f.submitted && confirmPassword.invalid" class="alert alert-danger">
                <div *ngIf="confirmPassword.hasError('required')">Le champ 'Confirmer le mot de passe' est obligatoire</div>
            </div>

            <h2>Addresse postale</h2>
            <h3 class="requiredTitle">Adresse</h3>    
            <input class="form-control"
                type="text"
                name="AddressLine1"
                placeholder="addresse"
                autocomplete="off"
                required
                [(ngModel)]="newUser.addressLine1"
                #addressLine1="ngModel">
            <div *ngIf="f.submitted && addressLine1.invalid" class="alert alert-danger">
                <div *ngIf="addressLine1.hasError('required')">Le champ Adresse est obligatoire</div>
            </div>
            <h3>Complément d'adresse</h3>    
            <input class="form-control"
                type="text"
                name="AddressLine2"
                placeholder="Complément d'adresse"
                autocomplete="off"
                [(ngModel)]="newUser.addressLine2"
                #addressLine2="ngModel">

            <h3 class="requiredTitle">Commune</h3>    
            <input class="form-control"
                type="text"
                name="City"
                placeholder="Commune"
                autocomplete="off"
                required
                [(ngModel)]="newUser.cityInsee"
                #city="ngModel">
                <div *ngIf="f.submitted && city.invalid" class="alert alert-danger">
                    <div *ngIf="city.hasError('required')">Le champ Commune est obligatoire</div>
                </div>
        </div>
        <br>
        <button class="gobutton" type="submit">VALIDER</button>
        <button class="btn btn-secondary" type="reset">VIDER LE FORMULAIRE</button>
    
    </form>
<div>
    