<div class="modal">

    <h1>S'INSCRIRE</h1>

    <form [formGroup]="registerForm" (ngSubmit)="createUser()">
        <p class="required">*required</p>

        <h3 class="requiredTitle">Nom</h3>
        <input class="form-control"
            type="text"
            name="lastName"
            autocomplete="off"
            placeholder="nom de famille"
            formControlName="lastName">
        <h3 class="requiredTitle">Prénom</h3>
        <input class="form-control"
            type="text"
            name="FirstName"
            autocomplete="off"
            placeholder="prénom"
            formControlName="firstName">
       
        <h3 class="requiredTitle">E-Mail</h3>
        <input class="form-control"
            type="email"
            name="E-MAIL"
            autocomplete="off"
            placeholder="nom@exemple.com"
            formControlName="email">
        <h3 class="requiredTitle">Mot de passe</h3>    
        <input class="form-control"
            type="string"
            name="MOT DE PASSE"
            autocomplete="off"
            placeholder="Au moins 5 caractères"
            formControlName="password">
        <h3 class="requiredTitle">Confirmer le mot de passe</h3>    
        <input class="form-control"
            type="string"
            name="MOT DE PASSE"
            autocomplete="off"
            placeholder="Au moins 5 caractères"
            formControlName="passwordConf">

        <div formGroupName="usraddress">
            <h2>Addresse postale</h2>
            <h3 class="requiredTitle">Adresse</h3>    

            <input class="form-control"
                type="string"
                name="ADDRESSLine1"
                autocomplete="off"
                placeholder="addresse"
                formControlName="addressLine1"> 
            <h3>Complément d'adresse</h3>    
            <input class="form-control"
                type="string"
                name="ADDRESSLine1"
                autocomplete="off"
                placeholder="Complément d'adresse"
                formControlName="addressLine2">
            <h3 class="requiredTitle">City</h3>    
            <input class="form-control"
                type="string"
                name="CITY"
                autocomplete="off"
                placeholder="Ville"
                formControlName="city">
            <br>
        </div>

        <br>
        <br>
        <button class="gobutton" type="submit">VALIDER</button>

    </form>
<div>
    

<!--
<div class="modal">

    <h1>S'INSCRIRE</h1>
    <form class="content" (ngSubmit)="createUser()">
        <p class="required">*required</p>
        <h2 class="requiredTitle">Nom</h2>
        <input class="inputfield"
            type="text"
            name="lastName"
            autocomplete="off"
            [(ngModel)]="user.lastName"
            placeholder="nom de famille">
        <h2 class="requiredTitle">Prénom</h2>
        <input class="inputfield"
            type="text"
            name="FirstName"
            autocomplete="off"
            [(ngModel)]="user.firstName"
            placeholder="prénom">
        <h2 class="requiredTitle">E-Mail</h2>
        <input class="inputfield"
            type="email"
            name="E-MAIL"
            autocomplete="off"
            [(ngModel)]="user.email"
            placeholder="nom@exemple.com">
        <h2 class="requiredTitle">Mot de passe</h2>    
        <input class="inputfield"
            type="string"
            name="MOT DE PASSE"
            autocomplete="off"
            [(ngModel)]="user.password"
            placeholder="Au moins 5 caractères">
        <h2 class="requiredTitle">Confirmer le mot de passe</h2>    
        <input class="inputfield"
            type="string"
            name="MOT DE PASSE"
            autocomplete="off"
            [(ngModel)]="user.password"
            placeholder="Au moins 5 caractères">

        <h2 class="requiredTitle">Adresse postale</h2>    
        <input class="inputfield"
            type="string"
            name="ADDRESSLine1"
            autocomplete="off"
            [(ngModel)]="user.addressLine1"
            placeholder="addresse"> 
        <h2>Complément d'adresse</h2>    
        <input class="inputfield"
            type="string"
            name="ADDRESSLine1"
            autocomplete="off"
            [(ngModel)]="user.addressLine2"
            placeholder="Complément d'adresse">
        <h2 class="requiredTitle">City</h2>    
        <input class="inputfield"
            type="string"
            name="CITY"
            autocomplete="off"
            [(ngModel)]="user.city"
            placeholder="Ville">
        <br>
        <br>
        <button class="gobutton" type="submit">VALIDER</button>

    </form>
</div>
-->