.header{
    right: 0; 
    top:0; 
    width: 55%; 
    justify-content: flex-end;
    z-index: 2;
    backdrop-filter: blur(10px);
}

.my-container{
    justify-content: flex-end; 
    background-color: white;
    justify-content: space-between;
}

.nav-link{
    color: #092f3a;
}

.menubutton {
    display: none;
    margin-right: 30px;
    color: #092f3a;
    font-weight: bolder;
}

@media screen and (max-width: 700px) {
    .menubutton {
        display: block;
        z-index: 11;
    }
}

