<aside class="container h-75 w-25 bg-white z-2 rounded-end" id="bookmark-tab">

  <div class="d-flex flex-row justify-content-between align-items-center">
    <i class="bookmark-star-icon">etoile</i>
    <h2>Favoris</h2>
    <i id="bookmark-arrow-icon">fleche</i>
  </div>

  <ul>
    <div class="border border-primary rounded p-2">
      <div class="d-flex flex-row justify-content-between align-items-center">
        <h3>{{ user.cityName }}</h3>
        <i>nuage</i>
        <p>23.5°C</p>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <p>qualite de l'air: bon</p>
        <i>reglage</i>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center">
        <p>voire l'historique</p>
        <i>poubelle</i>
      </div>
    </div>
  </ul>

</aside>
