
h3{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.content{
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-bottom: 10%;
}

.required{
    color: #e32;
    text-align: right;
    font-style: italic;
}
.requiredTitle:before {
    color: #e32;
    content: ' *';
    display:inline;
}

.form-group{
    align-items: center;
}


.gobutton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    width: auto;
    padding: 5px 26px;
    text-align: center;
    font-size: 13px;
    margin-top: 5px;
  }

.form-control{
    background-color: rgb(233, 232, 232);
    width: 100%;
    font-size: 15px;
}

.alert-danger{
    width: 100%;
    font-size: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hyperlien{
    text-align: center;
}